{#Теперь, возможно, нам удастся поместить наши шаблоны прямо в polls/templates(вместо создания еще одного pollsподкаталога), но на самом деле это будет плохой идеей. Django выберет первый найденный шаблон с совпадающим именем, и если у вас есть шаблон с таким же именем в другом приложении , Django не сможет их различить. Нам нужно иметь возможность указать Django на правильный, и лучший способ убедиться в этом — создать для них пространство имен . То есть, поместив эти шаблоны в другой каталог, названный в честь самого приложения.#}

{% if latest_question_list %}
	<ul>
		{% for question in latest_question_list %}
			<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No polls are available.</p>
{% endif %}